.container{
    background: lightgray;
    width: 40rem;
    height: 10rem;
    border-radius: 8px;
    display: flex;
    gap: 10rem;
    align-items: center;
    justify-content: center;
}

.expand{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.expand button{
    border-radius: 50%;
    border: none;
}

.personal-container{
    border: 2px solid gainsboro;
    border-radius: 8px;
}

.personalform{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    padding: 10px;
}